body {
  overflow: hidden;
  font-family: sans-serif;
  background-color: #000000;
}
.clipping {
  position:  absolute;
}

#container {
  position:  absolute;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  border:  1px solid #000;
}

.clipping > img {
  width:  100%;
  height: 100%;
  float:  left;
}


.item {
  max-width: 200px;
  padding: 10px;
  box-sizing: border-box;
}


/* cutter */

.canvas {
  width: 100%;
  height: 100vh;
}

#canvasContainer {
  position: absolute;
  width: 800px;
  left: calc(50vw - 400px);
}



#ctaText {
  position: absolute;
  width: 800px;
  left: calc(50vw - 400px);
  color: #fff;
  top: calc(100vh - 220px);
  text-align: center;

}
#ctaText > h1{

  font-family: monospace, sans-serif;
  font-size: 1.5em;
}
#ctaText > p {
  color: #aaa;
  font-size: 1.2em;
  width: 500px;
  margin: auto;
  margin-top: 30px;
  line-height: 1.4em;


}
