body {
  background: #eee;
}

.container {
  width: 100vw;
  box-sizing: border-box;
}
.clipping {
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
}
.clipping > img{
  width: auto;
  height: 50px;
}

#imageContainer {
  width: 100vw;
  padding: 30px;
  box-sizing: border-box;
}
#originImage {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9;
}
#clippedImage {
  position: absolute;
  z-index: 10;
}

.informationContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  padding: 30px;
  box-sizing: border-box;
}

.annotations { grid-area: 1 / 2 / 3 / 4; }
.aiAnnotation { grid-area: 1 / 2 / 2 / 4; }
.originAnnotation { grid-area: 2 / 2 / 3 / 4; }
.headline { grid-area: 1 / 1 / 7 / 2; }
.placementInfo { grid-area: 3 / 2 / 7 / 4; }
.placementX { grid-area: 3 / 2 / 4 / 4; }
.placementY { grid-area: 4 / 2 / 5 / 4; }
.placementLoc { grid-area: 5 / 2 / 6 / 4; }
.placementDate { grid-area: 6 / 2 / 7 / 4; }

